<html ng-app="testApp">
    <head>
        {% load staticfiles %}
        <title>Main Page</title>
        <link rel="stylesheet" type="text/css" href="{% static 'excel_file/css/graphic.style.css' %}"/>

        <script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.flot.min.js' %}"></script>
        <script type="text/javascript">
            
            var myApp = angular.module("testApp", []);

            myApp.controller('FileUploadController', ['$scope', function($scope){
                $scope.load = function(){
                    var formData = new FormData(document.forms.fileupload);
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "{% url 'excel_file:load_data' %}");
                    xhr.send(formData);
                    xhr.onreadystatechange = function(){
                        if(xhr.readyState != 4) return;
                        if(xhr.status == 200){
                            var answer = JSON.parse(xhr.responseText);
                            if (answer.errors.length != 0){
                                alert(answer.errors);
                            }
                        }else{
                            alert(xhr.status + ': ' + xhr.statusText);
                        }
                    };
                    
                };
            }]);

            myApp.controller('GetCoordinatesController', ['$scope', '$http', function($scope, $http){
                $scope.getInfo = function(){
                    $http({
                        method : 'GET',
                        url : "{% url 'excel_file:get_data' %}"})
                    .then(function success(response){
                        var answer = response.data;
                        if(answer.coordinates.length == 0){
                            alert('Данных нет');
                        }else{
                            var coordinates = answer.coordinates;
                            var options = {
                                points: {show: true, fill: true, lineWidth: 4, fillColor: "#000000"},
                                grid: {
                                    borderWidth: {
                                        top: 0,
                                        left: 2,
                                        bottom: 2,
                                        right: 0
                                    },
                                    hovarable: true
                                }
                            };
                            $.plot($('#graphic'), [coordinates], options);
                        }
                    }, function error(response){
                        alert('Error!');
                    });
                };
            }]);
        </script>
    </head>

    <body>
        <form name="fileupload" ng-controller="FileUploadController" enctype="multipart/form-data">
            {% csrf_token %}
            {{ file_form.as_p }}
            <input name="sendfile" type="button" ng-click="load()" value="OK"/>
        </form>
        <div ng-controller="GetCoordinatesController">
            <input ng-click="getInfo()" type="button" value="Нарисовать график"/>
            
        </div>
        <div id="graphic">

        </div>
    </body>
</html>